* {
 /* box-sizing: border-box; */
 margin: 0;
 padding: 0;
}
:root {
 --Clr1: #42b883;
 --Clr2: #35495e;
 --Clr3: #efeded;
}
html {
 font-family: Arial, Helvetica, sans-serif;
}
body {
 grid-template-rows: 50px auto;
 height: 100vh;
 overflow: hidden;
}

header {
 padding: 1em 0;
 background: var(--Clr1);
 /* grid-auto-flow: column; */
 color: var(--Clr3);
}
header .header-container {
 grid-auto-flow: column;
}

nav ul {
 grid-auto-flow: column;
 place-items: end;
 text-transform: capitalize;
}
nav li,
.logo {
 cursor: pointer;
}

#map {
 height: 400px;
 /* width: 400px; */
}

/* helpers */
.clean-list {
 list-style: none;
 margin: 0;
}
.loc-btn {
 height: 2rem;
 background: none;
 border: none;
}
.my-location {
 border: none;
 background: none;
}

.primary-btn {
 padding: 0.2em 0.5em;
 border-radius: 0.2em;
 border: none;
 background: var(--Clr1);
 color: var(--Clr3);
}
.loc-list li {
 grid-auto-flow: column;
 grid-template-columns: 1fr max-content;
}
.active {
 text-decoration: overline;
}

.grid {
 display: grid;
}

/* .main-layout {
 display: grid;
 grid-template-columns: 40px 1fr 40px;
}
.main-layout > *:not(.full) {
 grid-column: 2;
} */

.main-layout {
 display: grid;
 grid-template-columns: 20px 1fr 20px;
}
.main-layout > .full {
 grid-column: 1 / -1;
}
.main-layout > *:not(.full) {
 grid-column: 2;
}

/* pages */
.map-page main {
 grid-auto-flow: row;
}

@media (width>800px) {
 .map-page main {
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
 }
}

.home-page {
 height: 90vh;
 place-content: center;
 gap: 10px;
}
.home-page h1 {
 font-size: 2rem;
}
.home-page h1 span {
 color: var(--Clr1);
}

.home-page .map-link {
 color: var(--Clr1);
 text-decoration: underline;
 cursor: pointer;
}

.usr-page {
}
