@import "./input.css";

* {
 /* box-sizing: border-box; */
 margin: 0;
 padding: 0;
}
:root {
 --Clr1: #42b883;
 --Clr2: #35495e;
 --Clr3: #efeded;
}
html {
 font-family: Arial, Helvetica, sans-serif;
}

body {
 height: 100vh;
 overflow: hidden;
}

input[type="text"] {
 padding: 0.2em;
 font-size: 1rem;
}
input[type="text"]:focus {
 outline-color: var(--Clr1);
}

input[type="color"] {
 appearance: none;
 background: none;
 border: 0;
 border-radius: 50%;
 cursor: pointer;
 padding: 0;
 height: 2.3em;
 width: 2em;
}
input[type="color"]::-webkit-color-swatch {
 border-radius: 50%;
}

header {
 padding: 1em 0;
 background: var(--Clr1);
 color: var(--Clr3);
}
header .header-container {
 grid-auto-flow: column;
}

nav ul {
 grid-auto-flow: column;
 place-items: end;
 text-transform: capitalize;
}
nav li,
.logo {
 cursor: pointer;
}

#map {
 height: 400px;
 /* width: 400px; */
}

/* helpers */
.clean-list {
 list-style: none;
 margin: 0;
}
.loc-btn {
 height: 2rem;
 background: none;
 border: none;
}
.my-location {
 border: none;
 background: none;
}

.primary-btn {
 padding: 0.4em 0.5em;
 border-radius: 0.2em;
 border: none;
 background: var(--Clr1);
 color: var(--Clr3);
}
.loc-list {
 overflow: auto;
 padding: 1em;
 /* background-color: #35495e; */
}
.loc-list li {
 grid-auto-flow: column;
 grid-template-columns: 1fr max-content;
}
.loc-preview {
 grid-auto-flow: column;
 grid-template-columns: 1fr max-content;
 margin: 1em 0;
 box-shadow: 0 0 0 1px #9b9b9b;
 padding: 0.5em;
 border-radius: 0.3em;
 align-items: center;
}
.active {
 text-decoration: overline;
}

.grid {
 display: grid;
}

/* .main-layout {
 display: grid;
 grid-template-columns: 40px 1fr 40px;
}
.main-layout > *:not(.full) {
 grid-column: 2;
} */

.main-layout {
 display: grid;
 grid-template-columns: 20px 1fr 20px;
}
.main-layout > .full {
 grid-column: 1 / -1;
}
.main-layout > *:not(.full) {
 grid-column: 2;
}

/* pages */
.map-page main {
 grid-auto-flow: row;
}

@media (width>800px) {
 .map-page main {
  height: 95vh;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
 }
}

.home-page {
 height: 90vh;
 place-content: center;
 gap: 10px;
}
.home-page h1 {
 font-size: 2rem;
}
.home-page h1 span {
 color: var(--Clr1);
}

.home-page .map-link {
 color: var(--Clr1);
 text-decoration: underline;
 cursor: pointer;
}

.user-page.main-layout {
 height: 90vh;
 place-items: center;
}

.user-page form {
 width: 100%;
 max-width: 400px;
 gap: 1em;
}
.user-page form button {
 width: 50%;
 margin-inline-start: auto;
 display: block;
}

.material-symbols-outlined {
 font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 24;
}
